
.background-tab {
    background-color: #f7f7f7;
    border-radius: 20px;
    padding: 20px;
}

h5 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 15px;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 40px;
    padding-top: 10px;
}